.backcolor{ color:#0d1d31;}
.whitecolor{ color:#fff;}
.bottom-margin20{ margin-bottom:20px;}
.bottom-margin30{ margin-bottom:30px;}
.bottom-margin10{ margin-bottom:10px;}
.right-margin10{ margin-right:10px;}
.bottom-margin0{ margin-bottom:0px;}
.top-margin0{ margin-top:0px;}
.p10{ padding:10px;}
.lfloat{ float:left;}
.rfloat{ float:right;}
.d-block{ display:block;}
.icon-bor{border-radius: 20px; padding:3px; border:solid 1px #666; width:32px; height:32px; text-align:center;display: inline-block; margin-right:6px;}
.icon-bor i{font-size: 21px;}
.clapping-icon {
    background: url(../img/clapping-icon.svg) no-repeat;
    background-position: center center;
    display: inline-block;
}
.profile-clapping-icon {
    height: 20px;
    width: 20px;
}
.border-bot{ border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.accordion-border{border: 1px solid #1d2e3b; border-top:0;}
.hr-accordion{margin-top: 10px; margin-bottom: 10px;}
.cl{ clear:both;}
.list-thumbnail.xsmall {
    height: 40px;
    font-size: 1rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.tabhight{ height:auto !important;}
.tabimg{}
.tabimg img{ width:100% !important;}
.sm-btn{ border:solid 1px #ea032d; border-radius: 50px; padding: 0.4rem 0.8rem;}

.logo-web {
    width: 130px;
    height: 46px;
    background:url(../img/optimize-white.svg) no-repeat;
    background-position: center center;
}
.home-banner img{ width:100%; margin-top:50px;}

/*-----home-popup-css-----*/
.form-side-padd {
    padding: 30px 15px 30px 40px;
	background: #fff;
}
.has-float-label {
    display: block;
    position: relative;
}
.bootstrap-tagsinput, .form-control {
    border-radius: .1rem;
    outline: initial!important;
    box-shadow: initial!important;
    font-size: 1.2rem;
    padding: .5rem .75rem; 
	font-weight:500;
    line-height: 1;
    border: 1px solid #d7d7d7;
    background: #fff;
    color: #3a3a3a;
    border-color: #d7d7d7;
    height: calc(3em + .3rem);
}
.has-float-label label, .has-float-label > span:last-of-type {
    position: absolute;
    cursor: text;
    font-size: 80%;
    opacity: 1;
    top: -0.5em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 1px 3px;
	background: #fff; 
	font-weight:500;
}
.forget-link {
    color: #922c88;
    text-decoration: initial!important;
	font-size: 1.2rem;
}
.login__btn {
    display: inline-block;
    vertical-align: middle;
    color: #9d4498;
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
    padding: 9px 28px;
    border-radius: 27px;
    border: solid 1px #9d4498;
	background:none;
	cursor:pointer;
}
.login__btn:hover{
    background: linear-gradient(45deg, #702c91, #c11f6c);
    color: #fff;
}
.agree-join_btn{
	display: inline-block;
    vertical-align: middle;
    color: #444;
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
    padding: 10px 28px;
    border-radius: 27px;
    border: solid 1px #cfd4d8;
	background:#dae0e5;
	cursor:pointer;
	
}

.image-side {
    background: url(../img/login-balloon.jpg) no-repeat center top;
    background-size: cover !important;
    padding: 80px 40px;
}
.image-side p{line-height: 1.2;}
.form-sidep{line-height: 1.5;font-size: 13px;margin-bottom: 5px;}
.close-btnpop{cursor: pointer!important;margin:3px 7px;font-weight: 700 !important;}
.bor-div {
    background-color: #dbdbdb;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
    position: relative;
    margin: 20px 0;
    padding: 0 10px;
}
.bor-div-or {
    color: #999;
    color: rgba(var(--f52,153,153,153),1);
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    background: #fff;
    left: 30%;
    margin-top: -7px;
    position: absolute;
}
.btn-linkedin-bg {
    background: linear-gradient(45deg, #0074b0, #0074b0);
    border-color: #0074b0;
    color: #fff;
	border-radius: 50px;
	font-size: .8rem;
	padding: .4rem 1.25rem .4rem 1.25rem;
}
.btn-linkedin-bg:hover {
    color: #fff;
    background: linear-gradient(45deg, #612e8e, #a9489b);
    border-color: #73236b;
}
.btn-email-bg {
    background: linear-gradient(45deg, #ce4436, #ce4436);
    border-color: #ce4436;
    color: #fff;
	border-radius: 50px;
	font-size: .8rem;
	padding: .4rem 1.25rem .4rem 1.25rem;
}
.btn-email-bg:hover {
    color: #fff;
    background: linear-gradient(45deg, #612e8e, #a9489b);
    border-color: #73236b;
}

select.form-control {
    padding: 0 .75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    padding: 0.2em 22px 0.2em 0.3em;
    background: url(../img/arrow-down-bk.png) center right no-repeat;
}
.h-100 {
    height: 100% !important;
}
.popdiv .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (max-width: 991px) {
.popdiv .row {
    display: -ms-flexbox;
    display:flow-root;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
}
@media(max-width: 575px) {
}
/*---home-popup-css-end---*/

/* ----------------------------------------------------------------
	Toggle
-----------------------------------------------------------------*/
 a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -5px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
}
#accordion .panel-title a{
    display: block;
    padding: 15px 70px 15px 20px;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #dc143c;
    border: 1px solid #1d2e3b;
    position: relative;
}
#accordion .panel-title a.collapsed{ color: #1d2e3b; }
#accordion .panel-title a.collapsed:hover{ color: #e6720d; }
#accordion .panel-title a:before,
#accordion .panel-title a:after{
    content: "";
    width: 3px;
    height: 10px;
    background: #dc143c;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 35px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}
#accordion .panel-title a:after{
    right: 29px;
    transform: rotate(45deg);
}
#accordion .panel-title a.collapsed:before{
    transform: rotate(45deg);
    background: #1d2e3b;
}
#accordion .panel-title a.collapsed:after{
    transform: rotate(-45deg);
    background: #1d2e3b;
}
#accordion .panel-title a.collapsed:hover:before,
#accordion .panel-title a.collapsed:hover:after{ background: #e6720d; }
#accordion .panel-body{
    padding: 10px 20px;
    background: #fff;
    border-top: none;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
}